body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100%;
  margin: 0;
  flex-direction: column;
}
.seconds,
.minutes,
.hours {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  transform-origin: bottom;
  position: absolute;
  bottom: 50%;
  left: 50%;
}

.clock {
  position: relative;
  width: 30vw;
  padding: 1vw;
  margin: 5%;
  background-color: white;
  border-radius: 50%;
}

.time {
  font-size: calc(3vw + 3vh);
  color: white;
}
